# This notebook edits slovak district data

### Importing libraries

In [42]:
import pandas as pd
import geopandas

### Importing tables

In [43]:
immigration_table_raw = pd.read_csv("../../Data/slovakia/immigration_districts_sk.csv")
emigration_table_raw = pd.read_csv("../../Data/slovakia/emigration_districts_sk.csv")

pop_change_table_raw = pd.read_csv("../../Data/slovakia/population_change_sk.csv")


display(immigration_table_raw.head())
display(emigration_table_raw.head())
display(pop_change_table_raw.head())

,LAU1_CODE,2024,2023,2022,2021,2020,2019,2018,2017,2016,...,2003,2002,2001,2000,1999,1998,1997,1996,1995,1993
0,SK0101,1458,1624,1886,1677,1538,1874,1517,1719,1678,...,971,1240,1098,1162,1118,1288,1367,1466,1541,1758
1,SK0102,3496,3446,3947,3160,3020,3659,3338,3453,3537,...,2645,2717,2203,2168,1999,2398,2346,2513,2456,3343
2,SK0103,2471,2541,2577,2397,2641,3300,2994,2941,2667,...,1509,1923,1777,1420,1434,1465,1603,1554,1492,1942
3,SK0104,2196,2148,2463,2222,2368,2605,2483,2655,2670,...,1798,2359,1936,1859,2018,2154,2198,2605,3209,4141
4,SK0105,2315,2435,2907,2433,2479,3993,2564,2515,2510,...,1685,2035,1871,1804,1886,1966,2002,2089,1973,1953

,LAU1_CODE,2024,2023,2022,2021,2020,2019,2018,2017,2016,...,2003,2002,2001,2000,1999,1998,1997,1996,1995,1993
0,SK0101,1155,1100,1305,1133,867,1046,985,1039,1110,...,1300,1478,1267,1205,1275,1528,1536,1340,1270,1761
1,SK0102,2656,2934,3175,3111,2714,3266,2877,2863,2943,...,2305,2498,1985,2011,2149,2433,2291,2287,2328,3050
2,SK0103,1899,1960,2308,1938,1655,1989,1698,1717,1743,...,1382,1523,1258,1280,1334,1624,1426,1340,1377,1741
3,SK0104,2012,2122,2525,2317,2042,2394,2320,2185,2347,...,1966,2283,1919,1848,1851,2114,2061,1693,1718,2018
4,SK0105,2412,2741,3027,2939,2492,3057,2999,3087,3228,...,2661,2882,2534,2327,2356,2723,2595,2790,2538,3050

,Okres,2024,2023,2022,2021,2020,2019,2018,2017,2016,...,2003,2002,2001,2000,1999,1998,1997,1996,1995,1993
0,Okres Bratislava I,260,446,497,352,653,798,485,657,483,...,-610,-522,-503,-393,-480,-605,-496,-235,-140,-270
1,Okres Bratislava II,669,367,612,-178,446,570,733,828,891,...,65,-106,-71,-193,-571,-397,-227,-106,-7,325
2,Okres Bratislava III,531,626,274,424,1162,1566,1471,1349,1096,...,-139,118,197,-216,-219,-418,-110,-40,-184,2
3,Okres Bratislava IV,94,-21,-90,-91,612,531,470,759,656,...,-122,124,61,157,245,135,312,1081,1823,2571
4,Okres Bratislava V,-205,-300,52,-433,349,1397,141,48,-135,...,-710,-659,-486,-302,-230,-563,-372,-465,-215,-498

#### Calculating table dimensions

In [44]:
n_cols = len(pop_change_table_raw.iloc[0,:])
n_rows = len(pop_change_table_raw.iloc[:,0])

print("Rows: ",n_rows)
print("Columns: ",n_cols)

Rows:  79
Columns:  32

Calculating net migration

In [48]:
net_migration_table = immigration_table_raw.copy()

for i in range(n_rows):
    for k in range(1,n_cols):
        net_migration_table.iloc[i,k] = immigration_table_raw.iloc[i,k]-emigration_table_raw.iloc[i,k]

display(net_migration_table.head())

net_migration_table.to_csv("../../Data/slovakia/net_migration_districts_sk.csv",index=False)

,LAU1_CODE,2024,2023,2022,2021,2020,2019,2018,2017,2016,...,2003,2002,2001,2000,1999,1998,1997,1996,1995,1993
0,SK0101,303,524,581,544,671,828,532,680,568,...,-329,-238,-169,-43,-157,-240,-169,126,271,-3
1,SK0102,840,512,772,49,306,393,461,590,594,...,340,219,218,157,-150,-35,55,226,128,293
2,SK0103,572,581,269,459,986,1311,1296,1224,924,...,127,400,519,140,100,-159,177,214,115,201
3,SK0104,184,26,-62,-95,326,211,163,470,323,...,-168,76,17,11,167,40,137,912,1491,2123
4,SK0105,-97,-306,-120,-506,-13,936,-435,-572,-718,...,-976,-847,-663,-523,-470,-757,-593,-701,-565,-1097

### Slovak region geodata

In [46]:
districts = geopandas.read_file("../../Data/geography/slovak_districts.json")

display(districts.head(10))

,LAU1,DOW,IDN3,NM3,IDN2,NM2,NUTS2,NUTS2_CODE,NUTS3,NUTS3_CODE,LAU1_CODE,LAU2,LAU2_CODE,geometry
0,Banská Bystrica,2021-02-26 00:00:00+00:00,601,Banská Bystrica,6,Banskobystrický,Stredné Slovensko,SK03,Banskobystrický kraj,SK032,SK0321,Badín,SK0321508454,"POLYGON ((-408449.3 -1239367, -408777 -1239714..."
1,Banská Štiavnica,2021-02-26 00:00:00+00:00,602,Banská Štiavnica,6,Banskobystrický,Stredné Slovensko,SK03,Banskobystrický kraj,SK032,SK0322,Svätý Anton,SK0322516597,"POLYGON ((-440822.84 -1272799.42, -440809.15 -..."
2,Bardejov,2021-02-26 00:00:00+00:00,701,Bardejov,7,Prešovský,Východné Slovensko,SK04,Prešovský kraj,SK041,SK0411,Abrahámovce,SK0411519014,"POLYGON ((-251311.23 -1194615.93, -251463.13 -..."
3,Bratislava I,2021-02-26 00:00:00+00:00,101,Bratislava I,1,Bratislavský,Bratislavský kraj,SK01,Bratislavský kraj,SK010,SK0101,Bratislava-Staré Mesto,SK0101528595,"POLYGON ((-575659.05 -1277509.49, -575929.03 -..."
4,Bratislava II,2021-02-26 00:00:00+00:00,102,Bratislava II,1,Bratislavský,Bratislavský kraj,SK01,Bratislavský kraj,SK010,SK0102,Bratislava-Ružinov,SK0102529320,"POLYGON ((-564128.19 -1281777.37, -563932.3 -1..."
5,Bratislava III,2021-02-26 00:00:00+00:00,103,Bratislava III,1,Bratislavský,Bratislavský kraj,SK01,Bratislavský kraj,SK010,SK0103,Bratislava-Nové Mesto,SK0103529346,"POLYGON ((-567341.13 -1276403.81, -567855.13 -..."
6,Bratislava IV,2021-02-26 00:00:00+00:00,104,Bratislava IV,1,Bratislavský,Bratislavský kraj,SK01,Bratislavský kraj,SK010,SK0104,Bratislava-Karlova Ves,SK0104529397,"POLYGON ((-576552.36 -1276684.96, -576204.3 -1..."
7,Bratislava V,2021-02-26 00:00:00+00:00,105,Bratislava V,1,Bratislavský,Bratislavský kraj,SK01,Bratislavský kraj,SK010,SK0105,Bratislava-Petržalka,SK0105529460,"POLYGON ((-568838.92 -1291406.77, -568471.28 -..."
8,Brezno,2021-02-26 00:00:00+00:00,603,Brezno,6,Banskobystrický,Stredné Slovensko,SK03,Banskobystrický kraj,SK032,SK0323,Bacúch,SK0323508446,"POLYGON ((-375615.78 -1239855.32, -375225.91 -..."
9,Bytča,2021-02-26 00:00:00+00:00,501,Bytča,5,Žilinský,Stredné Slovensko,SK03,Žilinský kraj,SK031,SK0311,Bytča,SK0311517461,"POLYGON ((-453661.42 -1175362.11, -453275.23 -..."